
 
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #012456; 
  
}
#terminal pre {
  color: #fafffa; /* Or the hex code of the color you want */
  font-family: 'Courier New', monospace;
  margin: 0; /* To reset any default margin */
  padding: 0; /* To align with the terminal's content padding */
  white-space: pre-wrap; /* To ensure long lines wrap and preserve spaces and line breaks */
  word-break: keep-all; /* To prevent breaking the ASCII art */
 
}

#terminal h1 {
  color: #fafffa; /* Terminal-like green color */
  font-family: 'Courier New', monospace; /* Monospace font for terminal look */
  font-size: 1.2em; /* Larger text for the heading */
  margin-bottom: 0.5em; /* Space below the heading */
} 

#terminal h2 {
  color: #fafffa; /* Terminal-like green color */
  font-family: 'Courier New', monospace; /* Monospace font for terminal look */
  font-size: 0.5em; /* Larger text for the heading */
  margin-bottom: 0.5em; /* Space below the heading */
} 




#terminal {
  position: fixed; /* Use fixed to keep it fixed on the screen */
  top: 0; /* Position it at the top */
  right: 0; /* Position it at the right */
  width: 20%; /* Adjust based on your design */
  height: 100vh; /* Adjust based on your design */
  padding: 10px; /* Add padding for better appearance */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  transform: translate(-50%, -50%);
  background-color: #012456;
}

/* courier-prime-latin-400-normal */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/courier-prime@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/courier-prime@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* Apply VT323 font to terminal text */
#terminal {
  font-family: 'Courier New', monospace;
  font-size: 1em; /* Adjust as necessary */
}

/* Mobile styles for the terminal container */
@media screen and (max-width: 480px) {
  #terminal {
    width: 100%; /* Use full width of the screen */
    height: auto; /* Allow terminal to grow as needed */
    transform: translate(-50%, -50%);
  }
}

/* Mobile styles for ASCII art inside the terminal */
@media screen and (max-width: 480px) {
  #terminal pre {
    font-size: 0.5em; /* Decrease font size for ASCII art to fit on mobile screens */
    line-height: 1; /* Adjust line height to maintain art structure */
    /* Other adjustments as needed */
  }
}
